*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(199, 192, 255);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h2{
    color: #5a00a4;
    font-size: 2rem;
    margin-left: 20px;
    margin: 15px;

}
input{
    padding: 10px 14px;
    position: relative;
    border-radius: 6px;
    background-color: rgb(233, 234, 234);
    border: none;
    margin-left: 20px;
    outline: none;
    font-size: 1rem;
    font-weight: 600;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin:10px 0px 20px 10px;
}
p{
    color: #5a00a4;
    margin-left: 20px;
    margin: 15px;
}
button{
    margin: 5px;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    font-size: 1.1rem;
    font-weight: bold;
    color: #ffffff;
    background: #4a00b1;
    cursor: pointer;

}
button:hover{
    color: #f8ebeb;
    background: #3e0094;
    
}
ul li{
    list-style: none;
    color: rgb(155, 0, 0);
    font-size:1.2rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: rgba(220, 215, 255, 0.656);
    padding: 15px 20px;
    border:1px solid #986cff74;
    margin: 5px 15px;
    border-radius: 10px;
    transition: 0.2s linear;
    

}
ul li:hover{
    transform: translateY(2px) scale(1.02);
}
input[type="checkbox"]{
    width: 16px;
    height: 18px;
    accent-color: rgb(13, 194, 13);
    color: wheat;
    background-color: #acff2f;
    margin-bottom: 5px;
    margin: 1px 10px;
    transition: 5ms linear;
    outline: none;
}
input[type="checkbox"]{
    transform: scale(1.1);
}
.addup{
    margin-left: 6px;
    position: relative;
    padding: 9px 18px;
    border: 1px solid #b1500074;
    color: #ca5b00;
    font-size: 1.16rem;
    border-radius: 6px;
    background-color: rgb(245, 200, 184);
    transform: translateY(2px);
    transition: 0.2s linear;
}
.addup:hover{
    color: rgb(228, 103, 0);
    background-color: #facba5;
    border: 1px solid #fdbb7d;
    box-shadow: 2px 2px 4px 1px #ed720057;   
}